body{
    background: #E2D893;
    color:black;
    margin:0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    height:100%;
    
}
/* palette
    castanho 2B2301
    bege E2D893
    bege escuro A79E65
    azul  73AFB6
    azul escuro 5F9DA1 */

header{  
    background: #5F9DA1;
    margin:auto;
    padding:auto;
    height:100px;
}

#logo{
    float:left;
    
}

#content{
    background: #E2D893;
    margin-left: 160px;
    padding-left:5px;
    height: 100%;

}

nav {
    height:100%;
    clear:both;
    float:left;
    width: 160px;
    background: #5F9DA1;
    text-align: center;
}
nav ul{
    list-style: none;
    margin:auto;
    padding:0;
}

nav ul li{
    padding: 5px;
}

nav ul li:hover{
    background: #73AFB6;
    color:white;
    cursor: pointer;    
}

footer {
    clear:both;
}

table{
    background: #A79E65;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
table th{
    padding :10px;
}
table td {
    background: #E2D893;
    color: black;
    padding: 10px;
}