body{
    background: #E2D893;
    color:white;
    margin:0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    height:100%;
}
/* palette
    castanho 2B2301
    bege E2D893
    bege "cinza" A79E65
    azul claro 73AFB6
    azul escuro 5F9DA1 */

header{  
    background: #5F9DA1;
    margin:auto;
}

#logo{
    float:left;
}

#stuff{
    padding:auto;
    height:100px;
}


#content{
    background: #E2D893;
    height:100%;
}

nav {
    height:100%;
    clear:both;
    float:left;
    width: 160px;
    background: #5F9DA1;
    text-align: center;
}
nav ul{
    list-style: none;
    margin:auto;
    padding:0;
}

nav ul li{
    padding: 5px;
}

nav ul li:hover{
    background: #73AFB6;
    color:black;
}

footer {
    clear:both;
}